@model IEnumerable<Week06_Capstone.Models.Task>

@{
    ViewBag.Title = "Task List";
}

<h2>Task List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>           
            Complete?
        </th>
        <th>           
            Owner
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.ActionLink("Edit Task", "Edit", new { id=item.TaskID }, new { @class = "btn btn-primary" })            
            @Html.ActionLink("Delete Task", "Delete", new { id=item.TaskID }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>

<form action="Tasks/TaskSearch">
    <input type="text" name="word" id="item" />
    <input type="submit" class="btn btn-primary" value="Search for tasks" />
</form>


