@model Week06_Capstone.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

@*<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>*@

<table class="table table-bordered">
    <tr>
       
        
        <th>Description</th>
        <th>DueDate</th>
        <th>Complete?</th>

        @for (int i = 0; i < ViewBag.Item.Count; i++)
        {


        <tr>
            
            
            <td>@ViewBag.Item[i].Description</td>
            <td>@ViewBag.Item[i].DueDate</td>
            <td>@ViewBag.Item[i].Status</td>


        </tr>
    }

    </table>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
        @Html.ActionLink("Back to List", "Index")
    </p>
